{% extends 'main/base.html' %}
{% load my_tags %}
{% block content %}
    {% include 'main/includes/inc_product.html' %}
    <div class="container">
        <div class="col-12 mb-5">
            <div class="btn-group">
                {% if user.is_authenticated %}
                    <a class='btn btn-outline-primary' href="{% url 'main:edit' object.pk %}">Изменить</a>
                    <a class='btn btn-outline-danger' href="{% url 'main:delete' object.pk %}">Удалить</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-2 box-shadow">
                    <img class="card-img-top"
                         src="{{ object.image| mymedia }}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h4 class="my-0 font-weight-normal">{{ object | title }}</h4>
                        <li> {{ object.category }}</li>
                        <li>{{ object.price }} рублей</li>
                    </div>
                    <div class="card-footer">
                        <h6 class="text-muted">Владелец : {{ object.owner.first_name }} {{ object.owner.last_name }}</h6>
                    </div>
                    <div class="card-footer">
                        <a class="p-2 btn btn-outline-primary" href="#">Купить</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-2 box-shadow">
                    <div class="card-header">
                        <h3>Версия</h3>
                    </div>
                    <div class="card-body">
                        {% for version_item in object.version_set.all %}
                            {% if version_item.is_active %}
                                {{ version_item.version_name }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-2 box-shadow">
                    <div class="card-body">
                        <li>{{ object.description }}</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

